%tr.row.nested-fields  
  .leverancier_loop
    .field
      %td.raam.vouwgordijnen.gordijnen.vloeren
        = f.text_field :ruimte, :class => "calculation_ruimte"
        = f.hidden_field :werkbon
      %td.raam.vouwgordijnen.gordijnen.vloeren
        = f.number_field :aantal, :class => "calculation_number"
      %td.raam.vouwgordijnen.gordijnen.vloeren
        = f.number_field :breedte, :class => "calculation_breedte"
      %td.raam.vouwgordijnen.gordijnen.vloeren
        = f.number_field :hoogte, :class => "calculation_ruimte"
      %td.vloeren
        = f.number_field :snijmaat
      %td.vloeren
        = f.select :ondervloer, ["zandcement", "anhydriet", "tegels", "hout"]
      %td.vloeren
        = f.text_field :legrichting
      %td.gordijnen
        = f.number_field :strakke_hoogte_maat, :class => "calculation_strakke_hoogte_maat"
      %td.vouwgordijnen.gordijnen
        = f.text_field :knipmaat
      %td.raam.vouwgordijnen
        = f.label :bmdm, "BM", :value => "true"
        = f.radio_button :bmdm, true, :class => "radio_button"
      %td.raam.vouwgordijnen
        = f.label :bmdm, "DM", :value => "false"
        = f.radio_button :bmdm, false, :class => "radio_button"
      %td.gordijnen
        = f.select :stuks, ["links", "midden", "rechts", "stel"]
      %td.gordijnen
        = f.select :hoofdje, [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0]
      %td.gordijnen
        = f.number_field :rail_lengte
      %td.gordijnen
        = f.select :type_roede, ["wand tot wand", "vrijstaand", "links vrij", "rechts vrij"]
      %td.gordijnen
        = f.text_field :bocht_type
      %td.gordijnen
        = f.text_field :bocht_maat
      %td.raam.vouwgordijnen
        = f.label :bediening, "Links", :value => "true"
        = f.radio_button :bediening, true, :class => "radio_button"
      %td.raam.vouwgordijnen
        = f.label :bediening, "Rechts", :value => "false"
        = f.radio_button :bediening, false, :class => "radio_button"
      %td.gordijnen.vouwgordijnen
        = f.select :montage, ["wand", "plafond", "dagkant"]
      %td.raam
        = f.text_field :raam_type
      %td.raam
        = f.text_field :pakket
      %td.raam
        = f.select :koof, ["IDD", "ODD", "retour links", "retour rechts", "rondom"]
      %td.raam
        = f.select :zijgeleiding, ["ja", "nee"]
      %td.raam
        = f.select :contra_rolend, ["ja", "nee"]
      %td.raam
        = f.select :raam_montage, ["wand", "plafond", "dagkant", "IDD", "ODD"]
      %td.vouwgordijnen.gordijnen.raam
        = f.select :plaatsing, ["beton", "steen", "gips", "hout", "metaal"]
      %td.vouwgordijnen.raam
        = f.number_field :montage_hoogte
      
      %td.actions
        = link_to_remove_association "Verwijder", f



            