%tr.row.nested-fields  
  .leverancier_loop
    .field
      %td.vouwgordijnen.gordijnen
        = f.text_field :ruimte, :class => "calculation_ruimte"
        = f.hidden_field :werkbon
      %td.vouwgordijnen.gordijnen
        = f.number_field :aantal, :class => "calculation_number"
      %td.vouwgordijnen.gordijnen
        = f.number_field :breedte, :class => "calculation_breedte"
      %td.vouwgordijnen.gordijnen
        = f.number_field :hoogte, :class => "calculation_ruimte"
      %td.gordijnen
        = f.number_field :strakke_hoogte_maat, :class => "calculation_strakke_hoogte_maat"
      %td.vouwgordijnen.gordijnen
        = f.label :bmdm, "BM", :value => "true"
        = f.radio_button :bmdm, true, :class => "radio_button"
      %td.vouwgordijnen.gordijnen
        = f.label :bmdm, "DM", :value => "false"
        = f.radio_button :bmdm, false, :class => "radio_button"
      %td.gordijnen
        = f.select :stuks, ["links", "midden", "rechts", "stel"]
      %td.gordijnen
        = f.number_field :hoofdje
      %td.gordijnen
        = f.number_field :rail_lengte
      %td.gordijnen
        = f.text_field :bocht
      %td.vouwgordijnen.gordijnen
        = f.select :montage, ["wand", "plafond", "dagkant"]
      %td.vouwgordijnen
        = f.label :bediening, "Links", :value => "true"
        = f.radio_button :bediening, true, :class => "radio_button"
      %td.vouwgordijnen
        = f.label :bediening, "Rechts", :value => "false"
        = f.radio_button :bediening, false, :class => "radio_button"
      %td.vouwgordijnen
        = f.number_field :montage_hoogte
      %td.vouwgordijnen.gordijnen
        = f.select :plaatsing, ["beton", "steen", "gips", "hout", "metaal"]
      
      %td.actions
        = link_to_remove_association "Verwijder", f



            