<%= form_for [@order, @order_state, @vloer], :html => {:class =>  'form-horizontal form-label-left' } do |f| %>
    <% if @vloer.errors.any? %>
        <h3><%= pluralize(@vloer.errors.count, "error")%> zorgde ervoor dat de klant niet opgeslagen kon worden.</h3>
        <ul>
            <% @vloer.errors.full_messages.each do |msg| %>
                <li><p><%= msg %></p></li>
            <% end %>
        </ul>
    <% end %>
    <div id="general_info">
        <div id="left">
            <%= f.label :name, 'Werkbon naam', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :name, class: 'form-control col-md-7 col-xs-12' %><br>
            
            <%= f.label :werkbon_type, 'Werkbon', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.select :werkbon_type, ['Gordijnen', 'Vouwgordijnen', 'Raamdecoratie', 'Vloeren'], class: 'form-control col-md-7 col-xs-12', id: 'werkbon_type' %><br>

            <%= f.label :organisatie, 'Organisatie', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.select(:organisatie,{ "T4P" => 1, "T4L WW" => 2, "T4L A'F" => 3, "T4L A'dam" => 4, "T4L Breda" => 5}) %>
        </div>
        
        <div id="right">
            <%= f.label :datum, 'Datum', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :datum, class: 'form-control col-md-7 col-xs-12', id: 'datepicker' %><br>

            <%= f.label :werkvoorbereider, 'Ingevuld door', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :werkvoorbereider, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :totale_prijs, 'Totaal bedrag', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.number_field :totale_prijs, class: 'form-control col-md-7 col-xs-12', id: 'werkbon_totale_prijs', :step => '0.01' %><br>
        </div>
    </div>
    
    <br>
    
    <%= render partial: 'form_edit_details', locals: { f: f } %>
    
    <br>
    
    <%= render partial: 'form_edit_calculations', locals: { f: f } %>
    
    <br>
    
    <%= f.label :bijzonderheden, 'Bijzonderheden', class: 'control-label col-md-3 col-sm-3 col-xs-12' %><br>
    <%= f.text_area :bijzonderheden, :id => "bijzonderheden_area" %>
    
    <br>
    
    <div class="center">
        <%= f.submit 'Opslaan', :class => 'new_werkbon' %>
        <br>
        <%= link_to 'Annuleren', :back, :class => 'annuleren' %>
    </div>
    
<% end %>
    
