- if regel.leverancier_name.blank?
  %tr.row
    .field
      = f.hidden_field :article_prijs, :value => regel.article_type
      %td
        = f.text_field :hoeveelheid, :class => "item_hoeveelheid"
      %td
        = f.label :var1, f.object.var1_name
        = f.hidden_field :var1_name
      %td
        - Regel.all.each do |regel|
          - if regel.label == f.object.var1_name
            - if regel.dropdowns.count != 0
              = f.select(:var1, regel.dropdowns.map { |value| [ value.input, value.article_type ] }, {:include_blank => true})
            - else
              = f.text_field :var1
              = regel.var_1_eenheid
            %td
              - if regel.second_dropdowns.count != 0
                = f.select(:var3, regel.second_dropdowns.map { |value| [ value.input, value.article_type ] }, {:include_blank => true})
              - elsif regel.var_2_eenheid != '' || nil
                = f.text_field :var3, placeholder: "Typ hier"
                = f.hidden_field :var3_name, :value => regel.var_2_eenheid
                = regel.var_2_eenheid
            - Article.all.each do |article|
              - if regel.article_type == article.prijs
                = f.hidden_field :article_prijs, :value => article.prijs
      %td
        = f.number_field :prijs, :class => "item_artikel_prijs"
      %td
        = f.number_field :totale_prijs, :class => "item_totaal_prijs"
      %td
        = f.number_field :totale_arbeid, :class => "item_totaal_arbeid"