%tr.row
  .leverancier_loop
    .field
      %td
        = f.text_field :voorraad_actie, :class => "item_voorraad_actie"
      %td
        = f.text_field :hoeveelheid, :class => "item_hoeveelheid"
      %td.label
        = f.label :var2, leverancier.leverancier_label, :class => "leverancier"
      %td.var1
        = f.hidden_field :var2_name, :value => leverancier.leverancier_label
        - if leverancier.leverancier_regels.count != 0
          = f.select(:var2, leverancier.leverancier_regels.map { |value| [ value.input, value.input ] }, {:include_blank => true})
        - else
          = f.text_field :var2, placeholder: "Typ hier"
      %td.var2
      %td
        = f.number_field :prijs, :class => "item_artikel_prijs"
      %td
        = f.number_field :totale_prijs, :class => "item_totaal_prijs"
      %td
        = f.number_field :totale_arbeid, :class => "item_totaal_arbeid"
        = f.hidden_field :werkbon_type, :id => "item_werkbon_type", :value => leverancier.leverancier_werkbon