- if !f.object.var1_name.blank?
  %tr.row
    .field
      %td
        = f.text_field :voorraad_actie, :class => "item_voorraad_actie"
      %td.numbers_width
        = f.number_field :hoeveelheid, :class => "item_hoeveelheid", :step => '0.01'
      %td.label
        = f.label :var1, f.object.var1_name
        = f.hidden_field :var1_name
      %td.var1
        - Regel.all.each do |regel|
          - Article.all.each do |article|
            - if regel.article_type == article.prijs
              = f.hidden_field :article_prijs, :value => article.prijs
          - if regel.id == f.object.ref_id
            - if regel.dropdowns.count != 0
              = f.select(:var1, regel.dropdowns.map { |value| [ value.input, { 'value' => value.input, 'id' => value.article_type } ] }, {:include_blank => true})
            - else
              = f.text_field :var1
              = regel.var_1_eenheid
            %td.var2
              - if regel.second_dropdowns.count != 0
                = f.select(:var3, regel.second_dropdowns.map { |value| [ value.input, { 'value' => value.input, 'id' => value.article_type } ] }, {:include_blank => true})
              - elsif !regel.var_2_eenheid.blank?
                = f.text_field :var3
                = f.hidden_field :var3_name, :value => regel.var_2_eenheid
                = regel.var_2_eenheid
      %td.numbers_width
        = f.number_field :prijs, :class => "item_artikel_prijs", :step => '0.01'
      %td.numbers_width
        = f.number_field :totale_prijs, :class => "item_totaal_prijs", :step => '0.01'
      %td.numbers_width
        = f.number_field :totale_arbeid, :class => "item_totaal_arbeid", :step => '0.01'