<div class="center">
    <h3>Werkbonnen van `<%= @order.project_naam %>` order</h3>
</div>

<br>
<br>

<table border="1" style="width:100%">
    <thead>
        <tr>
            <th colspan="2">Status</th>
            <th>Werkbontype</th>
            <th>Organisatie</th>
            <th>Datum</th>
            <th>Ingevuld door</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        <% @vloers.each do |vloer| %>
            <tr>
              <td class="index">
                <% if vloer.status == 0 %>
                    <img src="/images/offerte.png" alt="Offerte status" class="edit_icon">
                <% elsif vloer.status == 1 %>
                    <img src="/images/meting.png" alt="Meting status" class="edit_icon">
                <% elsif vloer.status == 2 %>
                    <img src="/images/definitief.png" alt="Definitief status" class="edit_icon">
                <% end %>
              </td>              
              <td class="index">
                <% if vloer.status == 0 %>
                    Offerte
                <% elsif vloer.status == 1 %>
                    Meting
                <% elsif vloer.status == 2 %>
                    Definitief
                <% end %>
              </td>
              <td class="index">
                  <%= vloer.werkbon_type %>
              </td>
              <td class="index">
                <% if vloer.organisatie == 1 %>
                    T4P
                <% elsif vloer.organisatie == 2 %>
                    T4L WW
                <% elsif vloer.organisatie == 3 %>
                    T4L A'F
                <% elsif vloer.organisatie == 4 %>
                    T4L A'dam
                <% elsif vloer.organisatie == 5 %>
                    T4L Breda
                <% end %>
              </td>
              <td class="index"><%= vloer.datum %></td>
              <td class="index"><%= vloer.werkvoorbereider %></td>
              <td class="center"><%= link_to edit_order_vloer_path(@order, vloer) do %>
                  <img src="/images/pencil-edit-button.png" alt="Edit" class="edit_icon">
              <% end %>
              <%= link_to order_vloer_path(@order, vloer), method: :delete, data: { confirm: "Weet je zeker dat je deze werkbon wilt verwijderen" } do %>
                  <img src="/images/delete.png" alt="Delete" class="edit_icon">
              <% end %>
              <%= link_to "Duplicate", duplicate_order_vloer_path(@order, vloer) %>
              <%= link_to "Print", print_order_vloer_path(@order, vloer) %>
              </td>
            </tr>
        <% end %>
    </tbody>
</table>
<br>
<div>
    <%= link_to new_order_vloer_path do %>
        <button class="new_werkbon">Nieuwe werkbon +</button>
    <% end %>
</div>