= form_for @article do |f|
  - if @article.errors.any?
    %h3
      = pluralize(@article.errors.count, "error")
      zorgde ervoor dat de klant niet opgeslagen kon worden.
    %ul
      - @article.errors.full_messages.each do |msg|
        %li
          %p= msg
  .center
    .column
      = f.label :omschrijving, 'Omschrijving', class: 'control-label col-md-3 col-sm-3 col-xs-12'
      %br
      = f.text_field :omschrijving
      %br
      %br
      = f.label :prijs, 'Prijs', class: 'control-label col-md-3 col-sm-3 col-xs-12'
      %br
      = f.number_field :prijs, :step => '0.01'
      %br
      %br
      = f.label :eenheid, 'Eenheid', class: 'control-label col-md-3 col-sm-3 col-xs-12'
      %br
      = f.select :eenheid, ['m1', 'm2', 'per stuk']
      %br
  .center
    %br
    = f.submit 'Opslaan', :class => 'new_werkbon'
    %br
    = link_to 'Annuleren', articles_path, :class => 'annuleren'
