<%= form_for @vloer, :html => {:class =>  'form-horizontal form-label-left' } do |f| %>
    <% if @order.errors.any? %>
        <h3><%= pluralize(@order.errors.count, "error")%> zorgde ervoor dat de klant niet opgeslagen kon worden.</h3>
        <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><p><%= msg %></p></li>
            <% end %>
        </ul>
    <% end %>
    <div id="general_info">
        <div id="left">
            
            <%= f.label :werkbon_type, 'Werkbon', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.select :werkbon_type, ['Gordijnen', 'Vouwgordijnen', 'Raamdecoratie', 'Vloeren'], class: 'form-control col-md-7 col-xs-12', id: 'werkbon_type' %><br>

            <%= f.label :project_naam, 'Projectnaam', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :project_naam, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :project_nummer, 'Projectnummer', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :project_nummer, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :naam, 'Naam klant', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :naam, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :AdressLine1, 'Adres', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :AdressLine1, class: 'form-control col-md-7 col-xs-12' %><br>
            <%= f.text_field :AdressLine3, class: 'form-control col-md-7 col-xs-12' %><br>
            <%= f.text_field :AdressLine4, class: 'form-control col-md-7 col-xs-12' %><br>
            <br>
            <br>
            
            <%= f.label :telefoon, 'Telefoon', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :telefoon, class: 'form-control col-md-7 col-xs-12' %>

        </div>
        
        <div id="right">
            <%= f.label :email, 'E-mail', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :email, class: 'form-control col-md-7 col-xs-12' %><br>
            
            <%= f.label :organisatie, 'Organisatie', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.select(:organisatie,{ "T4P" => 1, "T4L WW" => 2, "T4L A'F" => 3, "T4L A'dam" => 4, "T4L Breda" => 5}) %>
            <br>
        
            <%= f.label :contactpersoon, 'Contactpersoon', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :contactpersoon, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :datum, 'Datum', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :datum, class: 'form-control col-md-7 col-xs-12', id: 'datepicker' %><br>

            <%= f.label :werkvoorbereider, 'Ingevuld door', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :werkvoorbereider, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :inmeetdatum, 'Inmeetdatum', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :inmeetdatum, class: 'form-control col-md-7 col-xs-12', id: 'datepicker' %><br>

            <%= f.label :oplevering, 'Opleveringsdatum', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :oplevering, class: 'form-control col-md-7 col-xs-12', id: 'datepicker1' %><br>

            <%= f.label :ordernummer, 'Ons ordernummer', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :ordernummer, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :totale_prijs, 'Totaal bedrag', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.number_field :totale_prijs, class: 'form-control col-md-7 col-xs-12', id: 'werkbon_totale_prijs' %><br>
        </div>
    </div>
    
    <br>
    
    <%= render partial: 'form_edit_details', locals: { f: f } %>
    
    <br>
    
    <%= render partial: 'form_edit_calculations', locals: { f: f } %>
    
    <br>
    
    <%= f.label :bijzonderheden, 'Bijzonderheden', class: 'control-label col-md-3 col-sm-3 col-xs-12' %><br>
    <%= f.text_area :bijzonderheden, :id => "bijzonderheden_area" %>
    
    <br>
    
    <div class="center">
        <%= f.submit 'Opslaan', :class => 'new_werkbon', :data => {:confirm => 'Weet je zeker dat je de werkbon wilt wijzigen!'} %>
        <br>
        <%= link_to 'Annuleren', vloers_path, :class => 'annuleren' %>
    </div>
    
<% end %>
    
