<%= form_for @order, :html => {:class =>  'form-horizontal form-label-left' } do |f| %>
    <% if @order.errors.any? %>
        <h3><%= pluralize(@order.errors.count, "error")%> zorgde ervoor dat de klant niet opgeslagen kon worden.</h3>
        <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><p><%= msg %></p></li>
            <% end %>
        </ul>
    <% end %>
    <div id="general_info">
        <div id="left">
            <%= f.label :project_naam, 'Projectnaam', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :project_naam, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :project_nummer, 'Projectnummer', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :project_nummer, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :naam, 'Naam klant', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :naam, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :AdressLine1, 'Adres', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :AdressLine1, class: 'form-control col-md-7 col-xs-12' %><br>
            <%= f.text_field :AdressLine3, class: 'form-control col-md-7 col-xs-12' %><br>
            <%= f.text_field :AdressLine4, class: 'form-control col-md-7 col-xs-12' %><br>

        </div>
        
        <div id="right">
            <%= f.label :telefoon, 'Telefoon', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :telefoon, class: 'form-control col-md-7 col-xs-12' %><br>
            
            <%= f.label :email, 'E-mail', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :email, class: 'form-control col-md-7 col-xs-12' %><br>
          
            <br>
            
            <%= f.label :contactpersoon, 'Contactpersoon', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :contactpersoon, class: 'form-control col-md-7 col-xs-12' %><br>

            <%= f.label :oplevering, 'Oplevering', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :oplevering, class: 'form-control col-md-7 col-xs-12', id: 'datepicker1' %><br>
            
            <%= f.label :ordernummer, 'Ons ordernummer', class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <%= f.text_field :ordernummer, class: 'form-control col-md-7 col-xs-12' %><br>

        </div>
    </div>
    
    <table></table>
    
    <div class="center">
        <%= f.submit 'Opslaan', :class => 'new_werkbon' %>
        <br>
        <%= link_to 'Annuleren', orders_path, :class => 'annuleren' %>
    </div>
    
<% end %>
