<div class="filter_options">
    <p>Filters in/uitklappen</p>
    <ul>
        <li><%= link_to 'Alle orders', root_path, :class => 'filter' %></li>
        <li><%= link_to 'Lege orders', {:sort => "empty_werkbonnen"}, :class => 'filter' %></li>
        <li><%= link_to '(Deels) verwerkte orders', {:sort => "backup_werkbonnen"}, :class => 'filter' %></li>
        <li><%= link_to 'Nog te verwerken orders', {:sort => "yet_to_processed_werkbonnen"}, :class => 'filter' %></li>
    </ul>
</div>

<table border="1" style="width:100%" class="datatable">
    <thead>
        <tr>
            <th>Projectnaam</th>
            <th>Projectnummer</th>
            <th>Inmeetdatum</th>
            <th>Contactpersoon</th>
            <th>Nieuwe werkbon</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="index"><%= order.project_naam %></td>
            <td class="index"><%= order.project_nummer %></td>
            <td class="index"><%= order.inmeetdatum %></td>
            <td class="index"><%= order.contactpersoon %></td>
            <td class="index">
                <%= link_to order_order_states_path(order) do %> 
                    Werkbonnen
                    <img src="/images/search-icon.png" alt="Show" class="edit_icon">
                <% end %>
            </td>
            <td class="center">
                <%= link_to edit_order_path(order) do %>
                    <img src="/images/pencil-edit-button.png" alt="Edit" class="edit_icon">
                <% end %>
                <%= link_to order_path(order), method: :delete, data: { confirm: "Weet je zeker dat je deze werkbon wilt verwijderen" } do %>
                    <img src="/images/delete.png" alt="Delete" class="edit_icon">
                <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>
<br>
<div>
    <%= link_to new_order_path do %>
        <button class="new_werkbon">Nieuwe order +</button>
    <% end %>
</div>